version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend-node
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydatabase
      - PORT=5000
    depends_on:
      - mongo
    volumes:
      - ./backend-node:/app  # This mounts your backend code if it's local
    networks:
      - app_network

  frontend:
    build: ./frontend-react
    container_name: frontend
    ports:
      - "5173:5173"
    networks:
      - app_network

networks:
  app_network:

volumes:
  mongo_data:
