version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    networks:
      - app-net

  backend:
    build:
      context: ./backend-node
    container_name: backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/todoapp
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - app-net

  frontend:
    build:
      context: ./frontend-react
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

